name: default
env:
  CGO_ENABLED: 0
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  gotest:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: 1.21
      - run: go test -v ./...
        shell: bash
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.53
          skip-cache: true
